* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  overflow-x: hidden;
}
.time-container {
  min-height: 100vh; /* Ekranni to‘liq qamrab olish */
  background-image: url('../../assets/bgarund.png');
  background-repeat: no-repeat;
  background-size: cover; /* Rasm to‘liq qamrab oladi */
  background-position: center; /* Rasm markazda joylashadi */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: white;
  padding: 2rem;
}

.time-container.dark {
  background: #0f172a;
  color: #f1f5f9;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  list-style-type: none;
  padding: 0;
  margin: 0;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%; /* To‘liq kenglik */
  padding: 1rem; /* To‘g‘ri joylashishi uchun */
}

.time-item {
  width: 400px;
  cursor: pointer;
  height: 250px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

.time-container.dark .time-item {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.time-item:hover {
  background: rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
}

.loading-text {
  font-size: 1.5rem;
  color: #ffcc00;
  font-weight: bold;
  animation: blink 1.5s infinite;
}

.time h1 {
  font-size: 30px;
}

.time-item p {
  font-size: 20px;
  margin-top: 30px;
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

/* Responsiv dizayn uchun o'zgarishlar */
@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .time-item {
    font-size: 1rem;
    padding: 10px;
    width: 300px; /* Kichik ekran uchun kartalar */
  }

  .loading-text {
    font-size: 1.2rem;
  }

  .time-container {
    background-image: url('../../assets/bgarund.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    padding: 1rem; 
  }

  .time-container.dark {
    background: #0f172a;
  }

  .time h1 {
    font-size: 22px;
  }

  .time-list p {
    font-size: 16px;
  }
}
